<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Créer un Slider en HTML/CSS/JS

    link(rel="stylesheet", href="./assets/css/style.css")
    link(rel="stylesheet", href="./assets/css/index.css")
  body
    .container
      .slider
        img(src="https://images.unsplash.com/photo-1559467713-f830ec30e3e4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80", class="active" alt="")
        img(src="https://images.unsplash.com/photo-1590634875887-a6a516622e2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80", alt="")
        img(src="https://images.unsplash.com/photo-1590664216212-62e763768cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="")
      .cont-btn
        .btn-nav.left ←
        .btn-nav.right →
    
    script(src="./assets/js/index.js")