body .container {
  max-width: 80%;
  margin: 0 auto;
  padding: 50px; }
  body .container .slider img {
    max-width: 100%;
    display: none; }
    body .container .slider img.active {
      display: block;
      -webkit-animation: fade .8s;
      animation: fade .8s; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  body .container .cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .container .cont-btn .btn-nav {
      font-size: 50px;
      margin: 0 15px;
      cursor: pointer; }
